body{
    background-color: #111;
    font-family: "Helvetica";
}

.game{
    width: 320px;
    height: 500px;
    background: #222;
    margin: 50px auto 0;
    border-radius: 10px;
}

.score-box{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #333;
    border-radius: 10px 10px 0 0;
}

.score-block{
    width: 100px;
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    text-align: center;
}

.canvas-wrapper{
    width: 320px;
    height: 400px;
    position: relative;
}

.canvas{
    border: 1px solid #eee;
    border-radius: 0 0 10px 10px;
}

.menu{
    width: 200px;
    height: 250px;
    background: #111;
    border: 1px solid #eee;
    border-radius: 10px;
    position: absolute;
    top: 100px;
    left: 60px;
}

.menu-header{
    font-size: 24px;
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
}

.button{
    width: 120px;
    padding: 10px;
    background: #ddd;
    border: 1px solid #eee;
    margin: 5px auto;
    border-radius: 10px;
    cursor: pointer;
}